main {
  position: relative;
  display: inline-block;
}

.container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
}

.player-health,
.enemy-health {
  background-color: yellow;
  height: 30px;
  width: 100%;
}

.timer {
  background-color: red;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
